@model YemekTarifiApi.Models.Tarif

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tarif</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malzemeler" class="control-label"></label>
                <input asp-for="Malzemeler" class="form-control" />
                <span asp-validation-for="Malzemeler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yapilis" class="control-label"></label>
                <input asp-for="Yapilis" class="form-control" />
                <span asp-validation-for="Yapilis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EklenmeTarihi" class="control-label"></label>
                <input asp-for="EklenmeTarihi" class="form-control" />
                <span asp-validation-for="EklenmeTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EkleyenKullanici" class="control-label"></label>
                <input asp-for="EkleyenKullanici" class="form-control" />
                <span asp-validation-for="EkleyenKullanici" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
